<div class="map-wrap">
    <div class="header">
      <div class="filler"></div>
      <div class="heading">
        <h4>Movements</h4>
      </div>
      <div class="navigation" (click)="navigateToMovementData()">
        <!-- Replace the button with an icon or SVG -->
        <div class="custom-button">
            <h5>Table View</h5>
            <i class="bi bi-table"></i>
        </div>
      </div>
    </div>
    <div class="map" #map>
      <!-- Your map content here -->
    </div>
  </div>
  