h4{
    margin: 0;
    padding: 0;
}

h5{
    margin: 0;
    padding: 0;
}

.navbar-container{
    height: 8vh;
    width: 100%;
    background-color: #02000d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.brand{
    display: flex;
    flex: 1;
}

.navigation{
    display: flex;
    flex:1;
    flex-direction: row;
    height: 100%;
    cursor: pointer;
}

.farm-button{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.movement-button{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.logout{
    display: flex;
    flex: 1;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    align-items: center;
}

.logout:hover{
    background-color: #24203c9a;
}

.farm-button:hover{
    background-color: #24203c9a;
}
.movement-button:hover{
    background-color: #24203c9a;
}


  .addButton, .deleteButton, .updateButton{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }

 .addButton:hover, .deleteButton:hover, .updateButton:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }  

 /* Add underline to the active component */
/* Add bottom border to the active component */
.navigation .farm-button.active h5,
.navigation .movement-button.active h5 {
  border-bottom: 2px solid white;
}
/* Add transition for the border-bottom property */

.navigation .farm-button.active h5::after,
.navigation .movement-button.active h5::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Initially position the underline below */
  width: 100%;
  height: 2px; /* Height of the underline */
  background-color: white;
  transition: bottom 0.3s ease; /* Add transition for the bottom property */
}

/* Move the underline up when active */
.navigation .farm-button.active h5::after,
.navigation .movement-button.active h5::after {
  bottom: 0;
}
